.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# php
composer.lock
vendor

# js
node_modules
package-lock.json

# python
__pycache__/
*.py[cod]
*$py.class
*.so
pyvenv.cfg
.python-version
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
.Python
*.egg-info/
lib/python/dist/
pip-selfcheck.json
