<!DOCTYPE html>
<html>
<head>
  <title>Ridibooks CMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap-theme.min.css">

  <style>
    body {
      padding-top: 120px;
      padding-bottom: 40px;
    }

    .comment {
      color: #999;
      text-align: center;
    }
  </style>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3 class="text-center">Ridibooks CMS</h3>
      <hr/>

      <form class="form-horizontal" role="form" method="post">
        <div class="form-group">
          <label for="inputId" class="col-sm-3 control-label">ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputId" name="id" placeholder="ID" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" name="passwd" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </div>
        </div>
      </form>

      <hr/>

      <p class="comment">Or you can login with Azure</p>
      <a role="button" class="btn btn-info btn-block" href='{{ azure_login }}'>
        Sign in with Azure
      </a>

    </div>
  </div>
</div>

</body>
</html>
