<!DOCTYPE html>
<html>
<head>
  <title>Ridibooks CMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap-theme.min.css">

  <style>
    body {
      padding-top: 120px;
      padding-bottom: 40px;
    }
  </style>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3 class="text-center">Ridibooks CMS</h3>
      <hr/>

      <a href='{{ azure_login }}' class="btn btn-primary btn-block">
        로그인
      </a>

    </div>
  </div>
</div>

</body>
</html>
