{% extends "index_new.twig" %}

{% block title %}
  리디북스 CMS
{% endblock %}

{% block body %}
  <div class="col-xs-12">
    권한 신청하기: <a href="https://app.asana.com/0/215306209905636/215207316128603">개발 지원 요청</a>
  </div>
{% endblock %}
