<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {{ title }} </title>
	<style>
		.num {
			mso-number-format:"#\,##0";
		}

		.num2 {
			mso-number-format:"#\,##0\.0";
		}


		.text {
			mso-number-format:"\@";
		}
	</style>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
