DEBUG=1
SENTRY_KEY=

SESSION_DOMAIN=admin.dev.ridi.com

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

CMS_RPC_URL=http://cms_main
COUCHBASE_HOST=couchbase

AZURE_TENENT=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_RESOURCE=
AZURE_REDIRECT_URI=
AZURE_API_VERSION=

TEST_ID=
