{% extends 'index_new.twig' %}

{% block title %}
  개인 정보 수정
{% endblock %}

{% block script %}
  <script>

    require(['jquery'], function ($) {

      // 개인정보 수정
      $("#updateBtn").click(function () {
        if (!fn_updateValidate()) {
          return;
        }

        $.post('/comm/user_info_action.ajax', $("#updateForm").serialize(), function (returnData) {
            if (returnData.success) {
              alert(returnData.msg);
              window.location.reload();
            } else {
              alert(returnData.msg);
            }
          }, 'json'
        ).fail(function (xhr, status, error) {
          alert(xhr.responseText);
        });
      });

      // 개인정보 clean
      $("#resetBtn").click(function () {
        window.location.reload();
      });

      // 개인정보 수정 validator
      function fn_updateValidate() {
        var input_id = $("#input_id");
        if (input_id.val().trim() == '') {
          alert('계정 ID를 입력하여 주십시오.');
          input_id.focus();
          return false;
        }

        var input_name = $("#input_name");
        if (input_name.val().trim() == '') {
          alert('이름을 입력하여 주십시오.');
          input_name.focus();
          return false;
        }

        var input_team = $("#input_team");
        if (input_team.val().trim() == '') {
          alert('팀을 입력하여 주십시오.');
          input_team.focus();
          return false;
        }
        return true;
      }

    });
  </script>
{% endblock %}
{% block body %}
  <form id="updateForm" name="updateForm" class="form-horizontal form-inline">
    <input type="hidden" name="is_use" value="{{ user_info.is_use }}"/>
    <table class="table table-bordered">
      <colgroup>
        <col width="15%"/>
        <col/>
      </colgroup>
      <tr>
        <th>계정 ID</th>
        <td><input type="text" id="input_id" name="id" value="{{ user_info.id }}" readonly/></td>
      </tr>
      <tr>
        <th>이름</th>
        <td><input type="text" id="input_name" name="name" value="{{ user_info.name }}"/></td>
      </tr>
      <tr>
        <th>팀</th>
        <td><input type="text" id="input_team" name="team" value="{{ user_info.team }}"/></td>
      </tr>
      <tr>
        <th>변경할 비밀번호</th>
        <td><input type="password" name="new_passwd"/></td>
      </tr>
      <tr>
        <th>변경할 비밀번호 확인</th>
        <td><input type="password" name="chk_passwd"/></td>
      </tr>
    </table>
    <div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-sm" id="updateBtn">저장</button>
        <button type="button" class="btn btn-default btn-sm" id="resetBtn">Clean</button>
      </div>
    </div>
  </form>
{% endblock %}
